

   .carosello{
    text-align: center;
    
   }
   .carousel-control-next-icon{
    background-color: rgb(20, 210, 210);
   }

   .carousel-control-prev-icon{
    background-color: rgb(20, 210, 210);
   }